@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.benefits-wrapper {
		@apply flex flex-col items-center gap-4;
	}

	.benefits-icons {
		@apply text-cyellow;
	}

	.benefits-text {
		@apply text-cwhite text-center text-xl;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

:target {
	/* scroll-margin-top: 0.8rem; */
}

body {
	background-color: #202125;
	color: #f9faf9;
}
