@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html  {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

:target {
	scroll-margin-top: .8rem;
}

body {
	background-color: #202125;
	color: #f9faf9;
}
